.big-card {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 2vh;
    padding: 1vh;
    padding-bottom: 0.5vh;
    img {
        width: 500px;
        height: auto;
    }
}

@media (max-width: 600px) {
    .big-card {
        img {
            width: 80vw;
            height: auto;
        }
        h2 {
            font-size: 1.17em;
        }
    }
}