@import './Constants.scss';
@import './Mixins.scss';

.certifications {
    @include primary-container();
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    display: none;
}

@media (max-width: 600px) {
    .title {
        @include titles();
    }
}
