@import './Constants.scss';
@import './Mixins.scss';

.footer {
    @include secondary-container();
    justify-content: center;
    background-color: $primary-color;
    a {
        margin-right: 2.5vw;
        margin-left: 2.5vw;
        &:hover {
            height: 35px;
        }
    }
}

@media (max-width: 600px) {
    .footer {
        justify-content: space-around;
    }
}