@import './Constants.scss';
@import './Mixins.scss';

.projects {
    @include primary-container();
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: none;
}

@media (max-width: 600px) {
    .title {
        display: inline-block;
        margin-top: 3vh;
        border-bottom: 2px solid white;
    }
}