@import './Constants.scss';
@import './Mixins.scss';

.projects {
    @include primary-container();
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: none;
}

@media (max-width: 600px) {
    .title {
        @include titles();
    }
}