body {
  background-image: url('https://st2.depositphotos.com/35773592/43812/i/450/depositphotos_438128892-stock-photo-binary-code-background-digital-abstract.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
